<ion-view>
    <ion-nav-title>
        <p style="color:white; border:0px;">{{floorDetail.title}}</p>
    </ion-nav-title>
    <ion-content>
        <div class="row" style="padding-right:0px; padding-left:0px; padding-top:0px;">
            <div class="col" style="background-color:#E8EAEC;">
                <div id="parking_slot_left_h">
                    <!-- 1_A1 -->
                    <img src="img/car.png" style="margin-top:55px;width:85%;height:45px;">
                </div>
                <br>
                <div id="parking_slot_left">
                    <img src="img/car.png" style="margin-top:55px;width:85%;height:45px;">
                </div>
                <br>
                <div id="parking_slot_left">
                    <img src="img/car.png" style="margin-top:55px;width:85%;height:45px;">
                </div>
                <br>
                <div id="parking_slot_left">
                    1_A4
                </div>
                <br>
                <div id="parking_slot_left">
                    <img src="img/car.png" style="margin-top:55px;width:85%;height:45px;">
                </div>
            </div>
            <div class="col" style="background-color:white;">
                <br>
                <br>
            </div>
            <div class="col" style="background-color:#E8EAEC;">
                <div id="parking_slot_right_h">
                    <img src="img/car.png" style="margin-top:55px;width:85%;height:45px;">
                </div>
                <br>
                <div id="parking_slot_right">
                    1_B2
                </div>
                <br>
                <div id="parking_slot_right">
                    1_B3
                </div>
                <br>
                <div id="parking_slot_right">
                    <img src="img/car.png" style="margin-top:55px;width:85%;height:45px;">
                </div>
                <br>
                <div id="parking_slot_right">
                    <img src="img/car.png" style="margin-top:55px;width:85%;height:45px;">
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>