/* Empty. Add your own CSS if you like */

#parking_slot_left_h {
    background-color: #FFFFFF;
    width: 101.2%;
    height: 150px;
    margin-left: -3px;
    margin-top: -4px;
    color:#1A8B83;
    font-size: 30px;
    text-align: center;
    line-height: 150px;
}
#parking_slot_left {
    background-color: #FFFFFF;
    width: 101.2%;
    height: 150px;
    margin-left: -3px;
    margin-top: -19px;
    color:#1A8B83;
    font-size: 30px;
    text-align: center;
    line-height: 150px;
}

#parking_slot_right_h {
    background-color: #FFFFFF;
    width: 101.2%;
    height: 150px;
    margin-top: -4px;
    margin-left: 2px;
    color:#1A8B83;
    font-size: 30px;
    text-align: center;
    line-height: 150px;
}

#parking_slot_right {
    background-color: #FFFFFF;
    width: 101.2%;
    height: 150px;
    margin-top: -19px;
    margin-left: 2px;
    color:#1A8B83;
    font-size: 30px;
    text-align: center;
    line-height: 150px;
}

#avartar:active{
    opacity: 0.6;
}